*{box-sizing:border-box;margin:0;padding:0}

body{
font-family:Poppins,sans-serif;
height:100vh;
display:flex;
align-items:center;
justify-content:center;
background:linear-gradient(135deg,#1f6f78,#00c2c7);
}

.login-box{
background:white;
padding:35px;
border-radius:16px;
width:100%;
max-width:350px;
box-shadow:0 10px 30px rgba(0,0,0,0.2);
text-align:center;
animation:fade .4s ease;
}

@keyframes fade{
from{opacity:0;transform:translateY(20px)}
to{opacity:1;transform:translateY(0)}
}

.logo{
width:80px;
margin-bottom:10px;
}

h2{
margin-bottom:20px;
color:#1f6f78;
}

label{
display:block;
text-align:left;
margin-top:10px;
font-size:14px;
font-weight:bold;
}

input{
width:100%;
padding:10px;
margin-top:5px;
border-radius:8px;
border:1px solid #ccc;
}

button{
margin-top:20px;
width:100%;
padding:12px;
border:none;
border-radius:10px;
font-weight:bold;
background:linear-gradient(90deg,#1f6f78,#00c2c7);
color:white;
cursor:pointer;
transition:.25s;
}

button:hover{
transform:scale(1.03);
}

#errorMsg{
margin-top:10px;
color:red;
font-size:13px;
}
